/* Mobile and Global Styles */
/* Applies to screens smaller than 500px and above unless overwritten below */

body {
    background: linear-gradient(135deg, #556cd5 0%, #764ba2 100%);
    min-height: 100vh;
    font-family: monospace;
}

h1 {
    margin: 0rem;
    padding: 0.5rem 0.25rem;
}

h3 {
    padding: 0.1rem 0rem;
}

p {
    padding: 0.5rem 0rem;
}

nav{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0.25rem;
}

button {
    border: 0.2rem solid;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    background-color: #1CCEAB;
    border-color: #FFFFFF;
    transition: all 0.2s ease;
    font-size: 1.3rem;
}

button:hover, button:focus {
    background-color: #0E5D52;
    color: #FFFFFF;
    transform: scale(1.1);
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 1.4rem;
}

.content {
    padding: 0.5rem 0.2rem;
    margin: 0 auto;
    font-size: 1rem;
    font-family: georgia;
}

.section {
    background-color: #1CCEAB;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
}

.section.active {
    display: block;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.leaflet-container {
    height: 600px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#totalProgress {
    width: 100%;
    background-color: #778899;
    border-radius: 20px;
}

#progressBar {
    width: 20%;
    height: 30px;
    background-color: #228B22;
    border-radius: 20px;
}

.resetMapbtn{
    padding: 0.5rem 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* Tablet Styles */

@media screen and (min-width: 500px) {

    nav{
        gap: 2rem;
    }

    .content {
        max-width: 60rem;
        padding: 1rem 1rem;
    }

    .section {
        padding: 1rem;
    }

    .leaflet-container {
        height: 700px;
    }

}

/* Desktop Styles */

@media screen and (min-width: 1000px) {
    
    .content {
        max-width: 65rem;
        padding: 1rem 4rem;
    }

    .section {
        padding: 2rem;
    }

    .leaflet-container {
        height: 800px;
    }

}
